@config "../tailwind.config.ts";

@import "tailwindcss";

@layer components {
  .no-spin-arrows::-webkit-outer-spin-button,
  .no-spin-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .no-spin-arrows {
    -moz-appearance: textfield;
    appearance: none;
  }
}

:root {
  --size: max(100vw, 100vh);
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray var(--background);
}

/* WebKit browsers (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
  border: 2px solid var(--background);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--background);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-hide {
    -ms-overflow-style: none !important; /* For Internet Explorer and Edge */
    scrollbar-width: none !important; /* For Firefox */
  }
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground;
  }
}

.input-focus-glow:focus-within::after {
  opacity: 1;
}

.input-focus-glow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  filter: blur(2rem);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.liquid-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.liquid-glass-backdrop {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.liquid-glass-background {
  background: rgba(255, 255, 255, 0.05);
}

.liquid-glass-border-color {
  border-color: rgba(255, 255, 255, 0.2);
}

/* .custom-shadow {
  box-shadow: 2px 4px 12px #00000014;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.custom-shadow-hover:hover {
  box-shadow: 2px 4px 16px #00000029;
  transform: scale3d(1.01, 1.01, 1.01);
} */

.custom-shadow {
  box-shadow: 2px 4px 16px #00000030;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.custom-shadow-hover:hover {
  box-shadow: 2px 4px 20px #00000060;
  transform: scale3d(1.01, 1.01, 1.01);
}